<footer class="page-footer font-small pt-4">
     
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">   
            </div>
          </div>

        <div class="row cm">
          <h4 class="text-white text-center">Siga-nos nas redes sociais</h4>
            <div class="col-md-12 d-flex justify-content-center ">
                <ul class="social-network">
                  <li>
                     <a href="https://www.linkedin.com/in/felipe-giacomelli-997a8b19b/" class="fa fa-linkedin-square" aria-hidden="true"></a>

                    </li>
                </ul>

            </div>
        </div>

    </div>


<div class="footer-copyright bg-dark text-center py-1">
    <span class="text-light"> © 2021 Copyright: </span>
    <a class="text-light" href="https://www.linkedin.com/in/felipe-giacomelli-997a8b19b/">Felipe Giacomelli</a>
  </div>


</footer>
